body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
}
h1{
    background-color: #103306;
    color: aqua;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background-color: black;
}